@import "_mixins.less";
@import "_grid.less";
@import "_normalize.less";

html {
	margin:0;
	font-size:50%;
}

body {
	background:@backgroundColor1;
	color:@textColor1;

	div#page {
		
		.clearfix();
		.center();
		width:85%;
		max-width:96rem;
		font-family:"Mako",sans-serif;

		a {
			text-decoration:none;
			color:inherit;
			transition:color 0.25s linear;
			-webkit-transition:color 0.25s ease-out;

			&:hover {
				color:@nocturneGreen;
			}
		}

		div#nocturneWrapper {
			.clearfix();
			.column(12);
			margin-top:@divMargin;
			margin-bottom:0;
			
			h1 {
				font-family:"Oxygen","Helvetica",sans-serif;
				font-size:7.2rem;
				text-align:center;
				
			}
		
			h3 {
				font-size:3.2rem;
				text-align:center;
			}

			p {
				margin-top:4.8rem;
				font-size:2.4rem;
				line-height:3.6rem;
				text-align:justify;
			}
		}

		div.bioColumn {
			.column(12);
			margin-top:@divMargin;
			h2 {
				font-family:"Oxygen","Helvetica",sans-serif;
				font-weight:400;
				font-size:3.6rem;
				text-align: center;

				margin-bottom:0.6rem;
			}

			p {
				clear:both;
				font-family: 'Merriweather Sans', sans-serif;
				font-weight:300;
				text-align:justify;
				font-size:1.6rem;
				line-height:2.6rem;
			}

			p.email {
				font-size:1.6rem;
				margin-bottom:0.6rem;
				text-align: center;
				a {
					text-decoration:none;
					color:@nocturneGreen;
					transition:color 0.25s linear;
					-webkit-transition:color 0.25s ease-out;

					&:hover {
						color:lighten(@nocturneGreen,10%);
					}
				}
			}

			div.imgWrapper {
				.column(10);
				.push(1);
				padding:0.5rem;
				margin-bottom:0.6rem;
				.clearfix;

				border:10px solid @black;
				border-radius:100%;

				img.biopic {
					width:100%;
					height:100%;
					margin: 0;
					padding:0;
					border-radius: 100%;
					background:rgba(255,255,255,0.1);
				}
			}

			p.iconwrapper {
				text-align: center;
				padding-top:1rem;
				padding-bottom:3rem;
				width: 100%;
				i {
					font-size:3rem;
					color:#777;
					transition:color 0.25s linear;
					-webkit-transition:color 0.25s ease-out;

					&:hover {
						color:@nocturneGreen;
					}
				}
				a {
					padding-left:1.2rem;
					padding-right:1.2rem;
				}
			}
		}

		div#footer {
			.column(12);
			padding-top:2.4rem;
			margin-top:2.4rem;
			padding-bottom:2.4rem;
			border-top:1px solid @textColor1 - #222;
			text-align:center;

			font-size:1.3rem;
		}
	}
}