// Variables configured here

@backgroundColor1:#25252f;
@textColor1:#fff - @backgroundColor1; //#eaeae0;
@divMargin:80px;


// Importing custom styles
@import "_base.less";

// With media queries
@import "_desktop.less" screen and (min-width: 600px);