// Variables configured here
@nocturneGreen		: #339a80;
@nocturneGray		: #777;
@backgroundColor1	: #25252f;
@black				: darken(@backgroundColor1,5%);

@textColor1:#fff - @backgroundColor1; //#eaeae0;
@divMargin:8rem;


// Importing custom styles
@import "_base.less";

// With media queries
@import "_desktop.less" screen and (min-width: 600px);